In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
data_weather=pd.read_csv('./seattle-weather.csv')

In [ ]:
data_weather

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [ ]:
data_weather.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [ ]:
data_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [ ]:
data_weather['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [ ]:
data_weather.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [ ]:
X=data_weather.drop(['date','weather'],axis=1)
y=data_weather['weather']

In [ ]:
X.head()

   precipitation  temp_max  temp_min  wind
0            0.0      12.8       5.0   4.7
1           10.9      10.6       2.8   4.5
2            0.8      11.7       7.2   2.3
3           20.3      12.2       5.6   4.7
4            1.3       8.9       2.8   6.1

In [ ]:
y.head()

0    drizzle
1       rain
2       rain
3       rain
4       rain
Name: weather, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.28)

In [ ]:
from sklearn.linear_model import LogisticRegression

log_reg=LogisticRegression()
model=log_reg.fit(X_train,y_train)

D:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
prediction=model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,prediction)

0.8560975609756097

In [ ]:
prediction

array(['sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'rain', 'rain',
       'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun',
       'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain',
       'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain',
       'sun', 'sun', 'rain', 'snow', 'sun', 'rain', 'rain', 'sun', 'rain',
       'rain', 'sun', 'rain', 'snow', 'rain', 'rain', 'rain', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain',
       'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain',
       'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'rain', 'rain',
       'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'sun',
       'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain',
       'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'rain', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'rain', 'sun',
       'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain',
       'snow', 'sun'], dtype=object)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

gb_clf = GradientBoostingClassifier(
    max_depth=3, learning_rate=0.1, n_estimators=10
  )
gb_clf.fit(X_train, y_train)
pred_gr = gb_clf.predict(X_test)

In [ ]:
accuracy_score(y_test, pred_gr)

0.8658536585365854

In [ ]:
X_test

      precipitation  temp_max  temp_min  wind
685             0.0      10.0       5.0   4.6
1339            5.8      19.4      13.9   5.0
825             4.6      11.7       7.8   4.3
850             0.0      27.8       9.4   3.9
154             0.0      17.2       9.4   2.9
...             ...       ...       ...   ...
19             13.5       7.2      -1.1   2.3
1387            0.3      17.2      12.2   2.6
717             1.3       7.8       2.2   2.8
706             0.0       0.0      -7.1   3.1
1293            0.0      27.8      13.9   3.3

[410 rows x 4 columns]